---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->

<ol>
  <li>
    <strong>Reza Hosseini Dolatabadi</strong>, Saieed Akbari, Mohsen Jamaali, Sandi Klavžar, Nazanin Movarraei. 
    <em>On the &Delta;-edge stability number of graphs.</em> 
    <strong>European Journal of Combinatorics</strong>, vol. 127, p. 104167, 2025.
  </li>
  <li>
    Mordecai J Golin, <strong>Reza Hosseini Dolatabadi</strong>, Arian Zamani. 
    <em>A (Weakly) Polynomial Algorithm for AIVF Coding.</em> 
    In <strong>2024 IEEE International Symposium on Information Theory (ISIT)</strong>, pp. 67–72, 2024.
  </li>
  <li>
    Mordecai J Golin, <strong>Reza Hosseini Dolatabadi</strong>, Arian Zamani. 
    <em>Better Algorithms for Constructing Minimum Cost Markov Chains and AIFV Codes.</em> 
    In <strong>2024 IEEE International Symposium on Information Theory (ISIT)</strong>, pp. 61–66, 2024.
  </li>
  <li>
    Hossein Esfandiari, Samira Hossein Ghorban, <strong>Reza Hosseini Dolatabadi</strong>, Mahdi Qaempanah. 
    <em>What is the Chance of Being so Unfair?</em> 
    In <strong>Companion Proceedings of the ACM on Web Conference 2025</strong>, pp. 957–960, 2025.
  </li>
</ol>



